* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 219, 198);
}

header :where(h1, h2) {
    color: rgb(165, 117, 28);
    text-shadow: 2px 2px 5px rgb(139, 128, 128);
    text-align: center;
    padding: 10px 3px;
}

ul, ol {
    list-style: none;
}

.container-full {
    width: 100%;
    height: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(190, 149, 71, 0.61);
}

.container-full :where(.nav1, .nav2, .nav3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e272e;
    width: 100%;
    height: 80px;
    flex-wrap: wrap;
    margin: 20px 0;
}


.nav-header {
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
}

.nav-header li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.nav-header li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.nav-header li a:hover {
    color: rgb(17, 91, 175);
    text-shadow: 2px 2px 5px rgb(216, 216, 216);
}


/* ---------------------------------- nav1 --------------------------------- */

.nav1 nav {
    position: relative;
    width: 475px;
    height: 58px;
    background: #222;
    border-radius: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav1 nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    line-height: 58px;
    padding: 0 15px;
    z-index: 1;
}

.nav1 nav span {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 85px;
    height: 100%;
    background: linear-gradient(45deg, #194b4f, #33fffc);
    border-radius: 10px;
    transition: 0.5s;
}

.nav1 nav a:nth-child(1):hover~span {
    left: 0px;
}

.nav1 nav a:nth-child(2):hover~span {
    left: 81px;
}

.nav1 nav a:nth-child(3):hover~span {
    left: 176px;
}

.nav1 nav a:nth-child(4):hover~span {
    left: 285px;
}

.nav1 nav a:nth-child(5):hover~span {
    left: 391px;
}

/* ---------------------------------- nav2 --------------------------------- */

.nav2 nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.nav2 nav .btn {
    margin-left: 6px;
    margin-top: 30px;
    padding: 6px 12px;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    color:#fff;
    transition: 0.5s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn:hover::before {
    transform: translateX(0); /* Activa el efecto del hover */
    width: 100%;
}

.btn1 {
     border: 1px solid #0fbcf9;
     color: #0fbcf9;
}

.btn1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    background-color: #0fbcf9;
    z-index: -1;
    transform: translateX(-100%);
}

.btn2 {
    border: 1px solid #fc5c65;
    color: #fc5c65;
}

.btn2::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   transition: all .5s ease;
   background-color: #fc5c65;
   z-index: -1;
   transform: translateX(-100%);
}

.btn3 {
    border: 1px solid #4cd137;
    color: #4cd137;
}

.btn3::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   transition: all .5s ease;
   background-color: #4cd137;
   z-index: -1;
   transform: translateX(-100%);
}

.btn4 {
    border: 1px solid #e432bd;
    color: #e432bd;
}

.btn4::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   transition: all .5s ease;
   background-color: #e432bd;
   z-index: -1;
   transform: translateX(-100%);
}

.btn5 {
    border: 1px solid #dba309;
    color: #dba309;
}

.btn5::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   transition: all .5s ease;
   background-color: #dba309;
   z-index: -1;
   transform: translateX(-100%);
}

.btn:hover::before {
    transform: translateX(0);
    width: 100%;
}

/* ---------------------------------- nav3 --------------------------------- */

.nav-ul li a {
    background-color: rgba(17, 10, 77, 0.445);
    color: #ccc;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: bolder;
}

.nav-ul li a:hover {
    background-color: #434343;
} 

.nav-ul > li {
    float: left;
}

.nav-ul li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav-ul li:hover > ul {
    display: block;
}


