* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'sub-titulos';
    src: url('../font/Hey\ Comic.ttf');
}

@font-face {
    font-family: 'titulos';
    src: url('../font/Grand_Aventure_Text.otf');
}

@font-face {
    font-family: 'principal';
    src: url('../font/Cakecafe.ttf');
}


body {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
}

/* ----------------- HEADER ----------------------------*/
header {
    display: flex;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    height: auto;
    background-color: #beb899;
}

header .titulo {
    display: flex;
    width: 30px;
    justify-content: center;
    align-items: center;
}

header .titulo img {
    width: 80px;
    filter: drop-shadow(4px 4px 20px rgb(27, 27, 27))
}

header .titulo div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .titulo div h1 {
    font-family: 'titulos';
    font-size: 48px;
}

header .titulo div strong {
    font-size: 22px;
    font-family: 'sub-titulos';
}


header .bienvenidos {
    display: flex;
    flex-wrap: wrap;
}

header .bienvenidos h2 {
    font-family: 'principal';
    padding-top: 20px;
    font-size: 60px;
}

/* ------------------ NAVBAR --------------------*/
nav {
    width: 100%;
    height: 60px;
    background-color: #ceccbf;
    z-index: 999;
    position: fixed;
    top: 96px;
    left: 0;
    width: 100%;

}

.nav2 nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
}

.nav2 nav .btn {
    margin-left: 6px;
    padding: 6px 12px;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    color: #000000;
    font-weight: bolder;
    transition: 0.5s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn:hover::before {
    transform: translateX(0);
    /* Activa el efecto del hover */
    width: 100%;
}

.btn1 {
    border: 1px solid #0fbcf9;
    color: #0fbcf9;
}

.btn1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    background-color: #0fbcf9;
    z-index: -1;
    transform: translateX(-100%);
}

.btn2 {
    border: 1px solid #fc5c65;
    color: #fc5c65;
}

.btn2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    background-color: #fc5c65;
    z-index: -1;
    transform: translateX(-100%);
}

.btn3 {
    border: 1px solid #4cd137;
    color: #4cd137;
}

.btn3::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    background-color: #4cd137;
    z-index: -1;
    transform: translateX(-100%);
}

.btn4 {
    border: 1px solid #e432bd;
    color: #e432bd;
}

.btn4::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    background-color: #e432bd;
    z-index: -1;
    transform: translateX(-100%);
}

.btn5 {
    border: 1px solid #dba309;
    color: #dba309;
}

.btn5::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    background-color: #dba309;
    z-index: -1;
    transform: translateX(-100%);
}

.btn:hover::before {
    transform: translateX(0);
    width: 100%;
}

/* ----------------- CARRUSEL -------------------*/
.slider {
    width: 75vw;
    height: auto;
    margin: 160px auto 0 auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 16);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 8));
        transform: translateX(calc(-200px * 8));
    }
}

/* --------------------- EMPRESA -----------------------*/
.container {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    padding: 20px;

}

.container .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container .cards .card {
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 3px dotted #333;
    border-style: dotted;
}

.container .cards .card img {
    width: 100%;
    height: 100%;
}

.container div {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-top: 10px;
}

.empresa {
    display: flex;
    background-color: #f7f7f7;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    padding: 20px;

}

.sigla {
    background-color: #ffcc70;
    padding: 20px;
    border-radius: 50%;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(4px 4px 20px rgb(70, 40, 12))
}

.descripcion {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.empresa .fotos img {
    width: 280px;
}

/* ------------------ PAGOS ----------------------*/
.container2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(210, 208, 214, 0.521);
    align-items: center;
    padding-top: 25px;
}

.container2 h2 {
    font-size: 35px;
    font-family: 'sub-titulos';
}

.container2 span {
    padding: 10px;
    font-size: 25px;
}

.container2 .pagos {
    display: flex;
    width: 100%;
    gap: 28px;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.container2 .pagos .medios-pago h3 {
    font-size: 25px;
    padding-bottom: 15px;
}

.container2 .pagos .medios-pago img {
    width: 120px;
    filter: drop-shadow(4px 4px 20px rgb(4, 43, 151))
}

.container2 .pagos .medios-pago strong,
p {
    font-size: 22px;
    padding-bottom: 15px;
}

/* -------------------- FOOTER ----------------------*/
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.footer .holana {
    display: flex;
    flex-wrap: wrap;
}

.footer .holana img {
    padding: 20px;
    width: 320px;
}

.footer .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.footer .links img {
    width: 150px;
    filter: drop-shadow(4px 4px 20px rgb(27, 27, 27))
}

.footer .links p {
    font-size: 28px;
    font-family: 'titulos';
    padding-bottom: 23px;
}

.footer .links .rutas {
    display: flex;
    gap: 20px;
}

.footer .links .rutas a {
    text-decoration: none;
    font-size: 22px;

    color: #000000;
}

.footer .links .rutas a:hover {
    color: #ff0000;
    text-shadow: 2ps 2ps 4px black;
}

.footer .links .registro {
    padding-top: 10px;
    font-size: 18px;
}

.footer .redes {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-bottom: 10px;
    gap: 30px;
    flex-wrap: wrap;
}

.footer .redes .titulo-cont {
    font-size: 25px;
    font-family: 'sub-titulos';
}

.footer .redes strong {
    font-size: 22px;
}

.footer .redes .red {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.footer .redes .red img {
    width: 45px;
}

.footer .redes .red a {
    color: #000000;
}

.footer .redes .red a:hover {
    color: red;
}

@media (max-width: 1193px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .footer .redes {
        flex-direction: column;
        align-items: center;
    }
}